**/Makefile linguist-vendored
**/CMakeLists.txt linguist-vendored
**/*.cpp linguist-vendored
**/*.h linguist-vendored
**/*.txt linguist-vendored
windows/**/* linguist-vendored
linux/**/* linguist-vendored
macos/**/* linguist-vendored